[submodule "api-gateway/vendor/boost/beast"]
	path = api-gateway/vendor/boost/beast
	url = git@github.com:boostorg/beast.git
[submodule "api-gateway/vendor/boost/asio"]
	path = api-gateway/vendor/boost/asio
	url = git@github.com:boostorg/asio.git
[submodule "api-gateway/vendor/boost/config"]
	path = api-gateway/vendor/boost/config
	url = git@github.com:boostorg/config.git
[submodule "api-gateway/vendor/boost/assert"]
	path = api-gateway/vendor/boost/assert
	url = git@github.com:boostorg/assert.git
[submodule "api-gateway/vendor/boost/throw_exception"]
	path = api-gateway/vendor/boost/throw_exception
	url = git@github.com:boostorg/throw_exception.git
[submodule "api-gateway/vendor/boost/system"]
	path = api-gateway/vendor/boost/system
	url = git@github.com:boostorg/system.git
[submodule "api-gateway/vendor/boost/core"]
	path = api-gateway/vendor/boost/core
	url = git@github.com:boostorg/core.git
[submodule "api-gateway/vendor/boost/type_traits"]
	path = api-gateway/vendor/boost/type_traits
	url = git@github.com:boostorg/type_traits.git
[submodule "api-gateway/vendor/boost/smart_ptr"]
	path = api-gateway/vendor/boost/smart_ptr
	url = git@github.com:boostorg/smart_ptr.git
[submodule "api-gateway/vendor/boost/mp11"]
	path = api-gateway/vendor/boost/mp11
	url = git@github.com:boostorg/mp11.git
[submodule "api-gateway/vendor/boost/optional"]
	path = api-gateway/vendor/boost/optional
	url = git@github.com:boostorg/optional.git
[submodule "api-gateway/vendor/boost/bind"]
	path = api-gateway/vendor/boost/bind
	url = git@github.com:boostorg/bind.git
[submodule "api-gateway/vendor/boost/intrusive"]
	path = api-gateway/vendor/boost/intrusive
	url = git@github.com:boostorg/intrusive.git
[submodule "api-gateway/vendor/boost/move"]
	path = api-gateway/vendor/boost/move
	url = git@github.com:boostorg/move.git
[submodule "api-gateway/vendor/boost/logic"]
	path = api-gateway/vendor/boost/logic
	url = git@github.com:boostorg/logic.git
